@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 200px;
    height: 20px;
  }
  
  *::-webkit-scrollbar-track {
    background: #3C3D37;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #3C3D37;
    border-radius: 500px;
    border: 5px solid #697565;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: 30px;
    scrollbar-color: #697565 #3C3D37;
  }